@model DogRecommender.Models.Dog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Found Dog</title>
</head>
<body>
    <div>
        <h1>Our recommendation:</h1>
        <h1>We suggest the @Model.DisplayName</h1>
    </div>
</body>
</html>
